@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaaurant Rater is a simple web app that allows users to come in and record different restaurants and rate them.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Click on the navbar button link to Rate a Restaurant or click below on the button that says Rate a Restaurant.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Rate a Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Click here to learn more about Restaurant Rater.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get In Touch</h2>
        <p>Click here to contact the owners of Restaurant Rater with your comments/concerns.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>